@import "./normalize"

.menu
  background grey
  .items
    margin 0
    padding 1em 0
    .item
      display inline-block
      margin 6px 0
      a
        padding 1em
        color white
        font-size 18px
        text-decoration none
        &:hover
          border-bottom 5px solid white
